.list__item--books{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 20px;
    padding: 10px;
    width: 100%;
}
.item__image{
    height: 80px;
    background-image: url('../../assets/icons/ask.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    width: 80px;
}