.root__footer{
    align-items: center;
    background-color: $real_red;
    color: rgba(255, 255, 255, 0.623);
    display: flex;
    height: 10vh;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
}